<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <!-- About Me -->
        <div class="container d-flex align-items-center justify-content-center" style="max-width: 800px;">
            <div class="mx-auto my-auto">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col text-start">
                            <h1><b> About Me</b></h1>
                        </div>
                        <div class="col text-end">
                            <img src="/images/linkedin-profile-pic.jpeg" class="rounded-circle w-30 mx-auto"
                                alt="Profile Picture">
                        </div>
                    </div>
                </div>
                <p>I am an aspiring self-taught data analyst with proficiency in <b>Python</b>, <b>JavaScript</b>,
                    <b>Excel</b>, and <b>SQL</b>. My
                    passion for
                    data
                    analysis started as a hobby and has now turned into a career aspiration. Currently, I am working as
                    an
                    Office Support Assistant at MDOS Consulting, where I manage contracts and collaborate with team
                    members
                    to
                    create and submit successful Request for Proposals responses.
                    <br>
                    <br>
                    Prior to my current role, I worked as a Junior Medical Writer/Researcher and Drug Editor/Reviewer at
                    Thera-Business, where I summarized clinical study results, appraised studies for data contribution,
                    and
                    maintained the drug database using Microsoft Excel. I have also worked as a Client Care Coordinator
                    at
                    CBI
                    Home Health, where I used scheduling software to fulfill patients' care plans, managed client
                    profiles,
                    and
                    communicated with care providers to ensure schedules were carried out effectively and efficiently.
                    <br>
                    <br>
                    My experience in these roles has equipped me with excellent organizational and communication skills,
                    attention to detail, and a strong work ethic. I am eager to continue developing my skills in data
                    analysis
                    and work towards becoming a successful data analyst.
                </p>
                <div class="container fluid mt-4 mb-5">
                    <a href="/files/Deborah Akpoguma 2023 Resume.pdf" download class="4 btn btn-primary">Download
                        Resume</a>
                    <a href="/portfolio" class="btn btn-primary">View Portfolio</a>
                    <a href="mailto:deborahakpoguma@gmail.com" class="btn btn-primary">Contact Me</a>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
            <%- include('partials/end.ejs') %>