<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <!-- Portfolio -->
        <div class="containter-sm mb-3 mt-3 mx-auto" style="max-width: 100%;">
            <h1>Portfolio</h1>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <img src="/project-one-project-cover-image.jpeg" class="card-img-top h-100"
                            alt="Healthcare spelt out with scrabble blocks">
                        <div class="card-body">
                            <h5 class="card-title">Exploring Medical Insurance Costs</h5>
                            <p class="card-text"> This project aims to identify how several factors impact the cost of
                                medical insurance.
                            </p>
                            <a href="/portfolio/project-one" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <img src="/images/project-two/project-two-card-img.jpeg" class="card-img-top  h-100"
                            alt="photo showing headphones and a clapper">
                        <div class="card-body">
                            <h5 class="card-title">Movie Features Correlation</h5>
                            <p class="card-text">This project aims to investigate the correlation
                                between various movie features and the gross earnings of the movie.
                            </p>
                            <a href="#" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Project</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class=" mt-5 mb- 5 d-flex justify-content-around">
                <a href="/Deborah Akpoguma 2023 Resume.pdf" download class="btn btn-primary">Download Resume</a>
                <a href="mailto:deborahakpoguma@gmail.com" class="btn btn-primary">Contact Me</a>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
            <%- include('partials/end.ejs') %>