<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <div class="containter-sm mb-3 mt-3 mx-auto" style="max-width: 100%;">
            <b class="mb-3">
                <h1 class="text-center mb-3">Exploring Medical Insurance Costs</h1>
            </b>

            <div class="container border rounded text-left">

                <h2 class="text-decoration-underline">Objective</h2>
                <p class="fs-6 mt-3">This project aims to identify how several factors impact the cost of medical
                    insurance.The goal is to understand how these factors contribute to the variation in medical
                    insurance costs. By analyzing a dataset that includes information on individuals' age, sex, BMI,
                    region, number of children, and their corresponding medical insurance charges, this project seeks to
                    identify any correlations or patterns between these variables and medical costs.</p>
                <p><b>Software used</b>: Python, Tableau</p>
                <p class="fs-7">The data used in this project can be found <a
                        href="https://www.kaggle.com/datasets/mirichoi0218/insurance" target="_blank">here</a>.</p>
                <p class="fs-7">The code used to prepare and analyze the dataset can be found <a
                        href="https://github.com/DeborahAkp/Portfolio/blob/main/Data%20Analysis%20Projects/Project%201/Medical%20Cost.ipynb"
                        target="_blank">here</a>.</p>

                <h2 class="text-decoration-underline">Data preparation</h2>

                <div class="fs-6">
                    <ol>
                        <li><b>Missing Data</b>
                            <p>There were was no missing data in the dataset.</p>
                            <img src="/images/project-one-missing-data.png " class="img-fluid"
                                alt="image showing no missing data in python">
                        </li>
                        <li><b>Duplicate Data</b>
                            <p>There was one duplicate in the dataset and it was dropped.</p>
                            <img src="/images/project-one-duplicate-data.png" alt="image showing the duplicated data"
                                class="img-fluid">
                        </li>
                    </ol>
                </div>

                <h2 class="text-decoration-underline">Exploratory Data Analysis</h2>
                <div class="fs-6">
                    <ol>
                        <li><b>Effect of Sex on Chrages</b>
                            <p> On average, males have slightly higher medical costs.</p>
                            <img src="/images/project-one-sex.png" class="img-fluid"
                                alt="image showing the difference in average charges between males and females">
                            <p>The <b>t statistic</b> is 2.124391307062026, which indicates the difference in the
                                average
                                charges between males and females. The <b>P-value </b> is 0.0338207919951195, which is
                                less than
                                the common threshold of 0.05 and suggests that there is evidence to support the
                                hypothesis that there is a significant difference in average costs between males and
                                females in the population from which the data was sampled. </p>
                            <img src="/images/project-one-sex-stat.png" class="img-fluid"
                                alt="image showing t statistic and P-value calculated using Python">
                        </li>
                        <li><b>Effect of Region on Costs</b>
                            <p>On average, medical costs differ between regions.</p>
                            <img src="/images/project-one-region.png" class="img-fluid"
                                alt="image showing the difference in avarage charges between regions">
                            <p>The <b>F statistic</b> is 2.926139903662776, which indicates the differences in average
                                charges
                                among the different regions. The <b>P-value</b> is is 0.03276288025444947, which
                                suggests that
                                there are statistically significant differences in average charges among the regions at
                                a 5% significance level. </p>
                            <img src="/images/project-one-region-stats.png" class="img-fluid"
                                alt="image showing a one way anova test for the difference between regions">
                        </li>
                        <li><b>Effect of BMI on Costs</b>
                            <p>There is a positive relationship between BMI and charges. Higher BMI values are
                                associated with
                                higher medical costs</p>
                            <img src="/images/project-one-bmi.png" class="img-fluid"
                                alt="scatter plot showing the relationship between bmi and charges">
                        </li>
                        <li><b>Effect of Smoker Status on Costs</b>
                            <p>On average, smokers have higher medical costs then non-smokers.</p>
                            <img src="/images/project-one-smoker.png" class="img-fluid"
                                alt="image showing the difference in charges on average between smokers and non-smokers">
                            <p>The <b>p-value</b> is 5.74701188239214e-130,which suggests that there is a
                                statistically significant difference in charges between smokers and non-smokers. The
                                extremely small P-value suggests that the probability of observing the given difference
                                in charges
                                between smokers and non-smokers, assuming there is no true difference, is essentially
                                zero.</p>
                            <img src="/images/project-one-smoker-stat.png" class="img-fluid"
                                alt="image showing Mann-Whitney U test used to analyze difference in charges based on smoker status">
                        </li>
                        <li><b>Effect of Number of Children on Costs</b>
                            <p>On average, people with 2-4 children have higher medical costs, and people with 5
                                children have the lowest costs.</p>
                            <img src="/images/project-one-children.png" class="img-fluid"
                                alt="image showing the differences in the average costs between people with different numbers of children">
                            <p>The <b>P-value</b> is 2.1957270957731766e-05, which suggests that the differences in
                                costs
                                between the groups with different numbers of children are statistically significant.
                            </p>
                            <img src="/images/project-one-children-stats.png" class="img-fluid"
                                alt="image showing Kruskal-Wallis test analyzing the differences in the average costs between people with different numbers of children ">
                        </li>
                        <li><b>Effect of Age on Costs</b>
                            <p>There is a positive relationship between charges and ages. The slope of the of the
                                regression line is 393.8558912099735, which suggests on average, charges increase by
                                approximately 393.86 dollars for every one-unit increase in age.</p>
                            <img src="/images/project-one-age.png" class="img-fluid"
                                alt="image showing a scatter plot of charges vs age">
                        </li>
                    </ol>
                </div>
                <h2 class="text-decoration-underline">
                    </h2class>>Conclusions</h2>
                <p> Smoker status had had a significant effect on costs, with smokers experiencing significantly higher
                    medical costs.

                    Additionally, age, sex, BMI, region, and the number of children also showed associations
                    with medical costs. These variables highlight the importance of considering multiple factors when
                    predicting or
                    understanding medical costs.

                    Data visualizations provided insights into the relationships between these
                    variables and medical costs. Scatter plots, histograms, and regression lines provided visual
                    representations of the data, allowing for a clearer understanding of the trends and patterns.

                    Statistical analysis further supported the findings. By examining the p-values and test statistics,
                    some ingisht was gained on
                    the strength and statistical significance of these associations.

                    The results highlight the importance of age, smoker status, sex, BMI, region, and the number of
                    children in
                    predicting and explaining variations in medical costs. This knowledge can be valuable for
                    insurance providers, policymakers, and individuals seeking to make informed decisions about their
                    healthcare coverage.

                    Please click <a
                        href="https://public.tableau.com/app/profile/deborah.akpoguma/viz/MedicalCosts_16855893788920/MedicalCosts?publish=yes"
                        target="_blank">here</a>
                    further visual exploration on Tableau.</p>
            </div>
        </div>


        <%- include('partials/footer.ejs') %>
            <%- include('partials/end.ejs') %>